DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="supersecret-change-in-production-32chars"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_FACEBOOK_APP_ID=""
RESEND_API_KEY=""
EMAIL_FROM="noreply@financefrz.com"
